.item {
  align-items: center;
  color: var(--upd900);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  width: 40px;
  border-radius: 100%;
}

.item:hover {
  transition: background-color 1s ease;
  background-color: var(--upd900);
  color: white;
}

.page-active {
  border: 2px solid var(--upd900);
}

.break {
  align-items: center;
  color: var(--upd900);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
}

.disabled-page {
  color: #808e9b;
}

.next {
  font-size: 4px;
  right: 0;
}

.pagination {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 40px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  width: 40em;
  border-radius: 100em;
}

.pagination-page {
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 700;
}

.page-link {
  width: 100%;
  height: 100%;
}

.previous {
  font-size: 4px;
  left: 0;
}



