@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.highlight {
  background: linear-gradient(-90deg,#fa68a2, #ea6175);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  box-sizing: border-box;
}

.item {
  align-items: center;
  color: #fa68a2;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  width: 40px;
  border-radius: 100%;
}

.item:hover {
  transition: background-color 1s ease;
  background-color: #fa68a2;
  color: white;
}

.page-active {
  border: 2px solid #fa68a2;
}

.break {
  align-items: center;
  color: #fa68a2;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
}

.disabled-page {
  color: #808e9b;
}

.next {
  font-size: 4px;
  right: 0;
}

.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 40px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  width: 40em;
  border-radius: 100em;
}

.pagination-page {
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 700;
}

.page-link {
  width: 100%;
  height: 100%;
}

.previous {
  font-size: 4px;
  left: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

